/* //////////////////////////////////////////////////////////////////////////

   Arate 1.7.1

   //////////////////////////////////////////////////////////////////////////
    
   I. 3rd party scripts
   |
   ├─ Normalize.css
   ├─ Font
   ├─ hamburgers
   └─ lightense-images

   II. Theme
   |
   ├─ 1.Global
   ├─ 2.Fonts
   ├─ 3.Primary Colors & Gradients
   ├─ 4.Site Wrap
   ├─ 5.Header
   ├─ 6.Navigation
   ├─ 7.Top
   ├─ 8.Featured
   ├─ 9.Vertical Text
   ├─ 10.Masonry
   ├─ 11.Post
   ├─ 12.Tags Page
   ├─ 13.Disqus
   ├─ 14.Prev/Next
   ├─ 15.Pagination
   ├─ 16.Newsletter
   ├─ 17.Members
   ├─ 18.Footer
   └─ 19.Animation
   
   //////////////////////////////////////////////////////////////////////////

   I. 3rd party scripts

   ////////////////////////////////////////////////////////////////////////// */

/* Normalize.css
   –––––––––––––––––––––––––––––––––––––––––––––––––––– 
   Version : 8.0.1
   Website : necolas.github.io/normalize.css
   Repo    : github.com/necolas/normalize.css
   Author  : Nicolas Gallagher
   License : MIT
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

/* Font
   –––––––––––––––––––––––––––––––––––––––––––––––––––– 
   Website : fontawesome.io
   Repo    : github.com/FortAwesome/Font-Awesome
   License : SIL
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
@font-face{font-family:'Brandonreg';font-weight:normal;font-style:normal;src:local('Brandonreg'),url('font/Brandonreg.woff2') format('woff2'), url('font/Brandonreg.woff') format('woff')}
@font-face{font-family:'BrandonGrotesque-bold';font-style:normal;font-weight:700; src: url('https://blogs.siyuan-sun.com/font/BrandonGrotesque-Bold.eot');
 src:url('https://blogs.siyuan-sun.com/font/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
 url('https://blogs.siyuan-sun.com/font/BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold') format('svg'),
url(https://blogs.siyuan-sun.com/font/Brandonbld.woff2) format('woff2'),url(https://blogs.siyuan-sun.com/font/Brandonbld.woff) format('woff')}
@font-face{font-family:'BrandonGrotesque-medium';src: url('https://blogs.siyuan-sun.com/font/BrandonGrotesque-Medium.eot');src:url('https://blogs.siyuan-sun.com/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'),url(https://blogs.siyuan-sun.com/font/Brandonmed.woff2) format('woff2'),url(https://blogs.siyuan-sun.com/font/Brandonmed.woff) format('woff'),url('https://blogs.siyuan-sun.com/font/BrandonGrotesque-Medium.ttf') format('truetype'),url('https://blogs.siyuan-sun.com/font/BrandonGrotesque-Medium.svg#BrandonGrotesque-Medium') format('svg');font-style:normal;font-weight:500}
@font-face{font-family:'BrandonGrotesque-regularit';font-style:italic;font-weight:400;src:local('BrandonGrotesque-regularit'),url(font/Brandonregit.woff2) format('woff2'),url(https://blogs.siyuan-sun.com/font/Brandonregit.woff) format('woff') url('https://blogs.siyuan-sun.com/font/BrandonGrotesque-Bold.ttf') format('truetype')}

/* hamburgers
   –––––––––––––––––––––––––––––––––––––––––––––––––––– 
   Version : 1.1.3
   Website : https://jonsuh.com/hamburgers/
   Repo    : https://github.com/jonsuh/hamburgers
   Author  : Jonathan Suh
   License : MIT
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
.hamburger{font:inherit;display:inline-block;overflow:visible;margin:0;padding:10px 15px 0 0;cursor:pointer;-webkit-transition-timing-function:linear;transition-timing-function:linear;-webkit-transition-duration:.15s;transition-duration:.15s;-webkit-transition-property:opacity,-webkit-filter;transition-property:opacity,-webkit-filter;transition-property:opacity,filter;transition-property:opacity,filter,-webkit-filter;text-transform:none;color:inherit;border:0;background-color:transparent}.hamburger-box{position:relative;display:inline-block;width:30px;height:24px}.hamburger-inner{top:50%;display:block;margin-top:-2px}.hamburger-inner,.hamburger-inner::before,.hamburger-inner::after{position:absolute;width:30px;height:3px;-webkit-transition-timing-function:ease;transition-timing-function:ease;-webkit-transition-duration:.15s;transition-duration:.15s;-webkit-transition-property:-webkit-transform;transition-property:-webkit-transform;transition-property:transform;transition-property:transform,-webkit-transform;background-color:#161b3d}.hamburger-inner::before,.hamburger-inner::after{display:block;content:''}.hamburger-inner::before{top:-10px}.hamburger-inner::after{bottom:-10px}.hamburger--minus .hamburger-inner::before,.hamburger--minus .hamburger-inner::after{-webkit-transition:bottom .08s 0s ease-out,top .08s 0s ease-out,opacity 0s linear;transition:bottom .08s 0s ease-out,top .08s 0s ease-out,opacity 0s linear}.hamburger--minus.is-active .hamburger-inner::before,.hamburger--minus.is-active .hamburger-inner::after{-webkit-transition:bottom .08s ease-out,top .08s ease-out,opacity 0s .08s linear;transition:bottom .08s ease-out,top .08s ease-out,opacity 0s .08s linear;opacity:0}.hamburger--minus.is-active .hamburger-inner::before{top:0}.hamburger--minus.is-active .hamburger-inner::after{bottom:0}

/* Custom settings for lightense-images
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
.lightense-backdrop{background-color:rgba(255,255,255,.8)!important;-webkit-backdrop-filter:initial!important;backdrop-filter:initial!important}.lightense-wrap ~ br,.lightense-wrap ~ small{display:none}

/* //////////////////////////////////////////////////////////////////////////

   II. Theme
   
   ////////////////////////////////////////////////////////////////////////// */

/* --------------------------------------------------------------------------   
   1.Global
   -------------------------------------------------------------------------- */

/* Base Styles
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
html,
body {
   height: 100%;
   max-height: 100%;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

body {
   font-size: 18px;
   font-weight: 400;
   line-height: 1.8;
   word-wrap: break-word;
   background-color: #fff;
}

/* Typography
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
.title {
    font-family:'BrandonGrotesque-bold','Roboto', sans-serif; 
   line-height: 1.5;
   margin: 5px 0 25px;
}



/* Links
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
   -webkit-transition: color .3s ease;
   transition: color .3s ease;
   text-decoration: none;
}

/* Lists
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
dl dt {
   font-weight: bold;
   float: left;
   clear: left;
   overflow: hidden;
   width: 180px;
   margin-bottom: 1em;
   text-align: right;
   white-space: nowrap;
   text-overflow: ellipsis;
}

dl dd {
   margin-bottom: 1em;
   margin-left: 200px;
}

ul {
   list-style: disc inside;
}

ul li ul {
   list-style: circle inside;
}

ol {
   list-style: decimal inside;
}

ol,
ul {
   margin-top: 0;
   padding-left: 20px;
}

ul ul,
ul ol,
ol ol,
ol ul {
   font-size: 90%;
   margin: 15px 0 15px 30px;
}

li {
   margin-bottom: 10px;
}

/* Tables
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   width: 100%;
   max-width: 100%;
   margin: 17px 0;
   background-color: transparent;
}

th,
td {
   padding: 10px 12px;
   text-align: left;
   border-bottom: 1px solid #e1e1e1;
}

th:first-child,
td:first-child {
   padding-left: 0;
}

th:last-child,
td:last-child {
   padding-right: 0;
}

/* Responsive */
.responsive-table {
   overflow-x: auto;
   word-break: normal;
}

/* Code
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
.kg-code-card {
   min-width: 100%;
   margin: 30px 0;
}

.kg-code-card pre {
   margin: 0;
}

.kg-code-card figcaption {
   font-size: 12px;
   line-height: 1.3;
   display: block;
   width: 100%;
   margin-top: 5px;
   color: #aeb5be;
}

code {
   font-size: 90%;
   margin: 0;
   padding: 2px 5px;
   background: #f0f0f0;
}

pre > code {
   display: block;
   padding: 10px 15px;
   white-space: pre-wrap;
}

pre {
   margin-top: 30px;
}

/* Spacing
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
button {
   margin-bottom: 10px;
}

input,
textarea,
select,
fieldset {
   margin-bottom: 15px;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
   margin-bottom: 25px;
}

/* Misc
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
   border-width: 0;
   border-top: 1px solid #f0f0f0;
}

mark {
   background-color: yellow;
}

img {
   vertical-align: middle;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
}

kbd {
   font-size: 14px;
   font-weight: bold;
   display: inline-block;
   margin-bottom: 9px;
   padding: 1px 8px;
   color: #666;
   border: #ccc 1px solid;
   border-radius: 4px;
   background: #f4f4f4;
   -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .2), 0 1px 0 0 #fff inset;
   box-shadow: 0 1px 0 rgba(0, 0, 0, .2), 0 1px 0 0 #fff inset;
   text-shadow: #fff 0 1px 0;
}

/* Buttons
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
   font-size: 11px;
   font-weight: 600;
   line-height: 38px;
   display: inline-block;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   height: auto;
   padding: 0 30px;
   cursor: pointer;
   text-align: center;
   white-space: nowrap;
   text-decoration: none;
   letter-spacing: 1px;
   color: #161b3d;
   border: 2px solid #161b3d;
   background-color: transparent;
}

button:hover,
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover,
button:focus,
input[type='submit']:focus,
input[type='reset']:focus,
input[type='button']:focus {
   color: #161b3d;
   border: 2px solid #dcb07d;
   outline: 0;
}

button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
   color: #161b3d;
   border-radius: 100px;
}

/* --------------------------------------------------------------------------
   2.Fonts
   -------------------------------------------------------------------------- */
body{
   font-family: 'Roboto', sans-serif;
}


h2,
h3,
h4,
h5,
h6,
.description,
.text,
.text-subscribe,
.header-wrap .left {
   font-family: 'BrandonGrotesque-medium', 'Roboto', sans-serif;
}

/* --------------------------------------------------------------------------
   3.Colors & Gradients
   -------------------------------------------------------------------------- */

/* Colors
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
body,
a,
.nav-wrap--link,
.top-social a:hover,
.footer-social a:hover,
.featured-more-button,
.text,
.post-content .kg-bookmark-card a,
.author-social a,
.text-subscribe{
   color: #161b3d
}

a:hover,
.featured-more-button:hover,
.post-content a,
.tags a,
.post-share a:hover{
   color: #dcb07d;
}

.post-share .copy-link svg:hover {
   fill: #dcb07d;
}

.post-content a:hover,
.tags a:hover {
   border-bottom-color: #dcb07d;
}



/* Gradients
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
.bg-top,
.bg-bottom,
.vertical,
.prev-next-hr,
blockquote:before,
.subscribe,
.kg-bookmark-card .kg-bookmark-container::before {
   background-image: linear-gradient(58deg, #e3745d 0%, #f4a16b 47%, #ffbf74 100%);
}

.bg-reads,.subscribe-reads,.vertical-reads,.prev-next-hr-reads{
   background-image: linear-gradient(58deg, #4eb6f7 0%, #93d1f7 47%, #c2e3f7 100%);
}

.bg-insight,.subscribe-insight,.vertical-insight,.prev-next-hr-inisght{
   background-image: linear-gradient(58deg, #f95c4b 0%, #f59185 47%, #f7afa7 100%);
}

.bg-learning,.subscribe-learning,.vertical-learning,.pre-next-learning{
   background-image: linear-gradient(58deg, #51c773 0%, #7ffaa3 47%, #aaf4bf 100%);
}

.bg-medium {
   background-image: -webkit-gradient(linear, left bottom, left top, from(#ece9e6), to(#fff));
   background-image: linear-gradient(to top, #ece9e6, #fff);
}

/* --------------------------------------------------------------------------
   4.Site Wrap
   -------------------------------------------------------------------------- */
.site-wrap {
   margin: 0 10%;
}

/* RWD — Site Wrap
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width:479px) {
   .site-wrap {
      margin: 0;
   }
   .text-subscribe{
       font-size:20px;
   }

}

@media (min-width:480px) and (max-width:1399px) {
   .site-wrap {
      margin: 0 5%;
   }

}

/* --------------------------------------------------------------------------
   5.Header
   -------------------------------------------------------------------------- */
.header-wrap {
   position: relative;
   display: table;
   width: 100%;
   height: 21vh;
   min-height: 150px;
   max-height: 230px;
}

.header-wrap .left,
.header-wrap .right {
   display: table-cell;
   vertical-align: middle;
}

.header-wrap .left {
   width: 30%;
   padding: 0 0 0 8%;
}

.header-wrap .right {
   position: relative;
   width: 70%;
   text-align: right;
}

.logo-image img {
   height: 65px;
}

.logo-no-image a {
   font-size: 40px;
   line-height: .9;
}

/* RWD — Header
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width:479px) {
   .nav-wrap {
      padding: 0;
   }

   .logo-image img {
      height: 40px;
   }

   .header-wrap {
      position: relative;
      display: table;
      width: 100%;
      height: 150px;
   }

}

@media (max-width:1023px) {
   .header-wrap .left {
      width: 70%;
   }

   .header-wrap .right {
      width: 30%;
   }

}

/* --------------------------------------------------------------------------
   6.Navigation
   -------------------------------------------------------------------------- */
.nav-wrap {
   font-size: 13px;
   font-weight: bold;
   position: absolute;
   z-index: 9999;
   right: 0;
   width: auto;
   margin-top: -21.5px;
   padding: 0 30px 0 0;
   letter-spacing: .9px;
}

.nav-wrap--link {
   line-height: 1;
   display: block;
   margin: 0;
   padding: 10px 15px;
   text-decoration: none;
   word-wrap: break-word;
}

.nav-wrap--list-item {
   margin: 0;
}

.nav-wrap--list {
   width: 100%;
   min-width: 150px;
   margin: 0;
   padding: 0;
   list-style: none;
}

.nav-wrap > .nav-wrap--label {
   display: none;
}

.nav-wrap > .nav-wrap--list {
   display: block;
}

.nav-wrap > .nav-wrap--list > .nav-wrap--list-item {
   position: relative;
   display: inline-block;
}

.nav-wrap input[type='checkbox'] {
   display: none;
}

.nav-wrap--list,
[id^='toggle'] {
   display: none;
}

.nav-wrap--list-item,
[id^='toggle']:checked + .nav-wrap--list {
   display: block;
}

/* RWD — Navigation
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width:1023px) {
   .nav-wrap {
      padding: 0 20px 0 0;
   }

   .nav-wrap--list {
      margin: 20px 0 0 0;
      padding: 20px 20px 30px 0;
      background-image: -webkit-gradient(linear, left bottom, left top, from(#ece9e6), to(#fff));
      background-image: linear-gradient(to top, #ece9e6, #fff);
   }

   .nav-wrap > .nav-wrap--label {
      display: block;
   }

   .nav-wrap > .nav-wrap--list {
      display: none;
   }

   .nav-wrap > .nav-wrap--list > .nav-wrap--list-item {
      position: relative;
      display: block;
   }

}

/* --------------------------------------------------------------------------
   7.Top
   -------------------------------------------------------------------------- */
.bg-top,.bg-reads,.bg-insight,.bg-learning{
   position: relative;
   z-index: 1;
   top: 0;
   width: 100%;
   height: auto;
   margin: 0 0 40px;
   padding: 80px 0;
}

.is-featured.bg-top {
   padding: 80px 0 310px;
}

.no-featured.bg-top {
   margin: 0 0 20vh;
}

.bg-top.is-cover {
   background: no-repeat center center;
   background-size: cover;
}

.title-wrap {
   position: relative;
   padding: 0;
}

.title {
    font-family: 'BrandonGrotesque-bold','Roboto', sans-serif;
   font-size: 45px;
   width: 50%;
   padding: 10px 30px;
}

.title,
.description {
   font-weight: normal;
   margin: 0 auto;
   text-align: center;
   opacity: .9;
}

.is-image .title {
   margin: 0 auto 70px;
}

.description {
   font-size: 18px;
   line-height: 1.8;
   max-width: 450px;
   padding: 0 50px;
   padding: 0 50px;
}

.is-cover .title,
.is-cover .description {
   color: #fff;
}

.is-cover::before {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   content: '';
   background-color: rgba(0, 0, 0, .5);
}

.top-social {
   font-size: 21px;
   position: absolute;
   z-index: 999;
   top: 0;
   right: 0;
   display: inline-block;
   padding: 35px 45px 0 0;
}

.top-icon{
   margin: 0 0 0 30px;
   color: #fff;
}

/* RWD — Top
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width:479px) {
   .title {

     font-size: 35px;
      width: 85%;
      padding: 10px 20px 20px;
   }

   .description {
      font-size: 15px;
      line-height: normal;
   }

   .bg-top,.bg-reads,.bg-insight,.bg-learning {
      padding: 30px 0;
   }

   .is-featured.bg-top {
      padding: 30px 0 210px;
   }

   .no-featured.bg-top {
      margin: 0 0 10vh;
   }

}

@media (min-width:480px) and (max-width:1199px) {
   .title {
      font-size: 40px;
      width: 75%;
      padding: 10px 40px 20px;
   }

   .bg-top,.bg-reads,.bg-insight,.bg-learning{
      padding: 50px 0 80px;
   }

   .is-featured.bg-top {
      padding: 50px 0 240px;
   }

   .no-featured.bg-top {
      margin: 0 0 15vh;
   }

}

@media (max-width:1199px) {
   .top-social {
      display: none;
   }

}

/* --------------------------------------------------------------------------
   8.Featured
   -------------------------------------------------------------------------- */
.no-featured + .featured-wrap {
   display: none;
}

.featured-wrap {
   position: relative;
   z-index: 3;
   margin: -190px 0 25vh 0;
}

.featured-wrap .right,
.featured-wrap .center,
.featured-flex {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-flow: row wrap;
   flex-flow: row wrap;
}

.featured-wrap .right,
.featured-wrap .center {
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.featured-wrap .right,
.featured-wrap .left {
   -webkit-box-flex: 0;
   -ms-flex: 0 0 42%;
   flex: 0 0 42%;
}

.featured-wrap .left {
   overflow: hidden;
   margin: 15vh 4% 0 4%;
}

.featured-wrap .left .appear:hover {
   -webkit-transform: scale(1.10);
   transform: scale(1.10);
}

.featured-wrap .center {
   margin: 15vh auto 0;
   text-align: center;
   -webkit-box-flex: 0;
   -ms-flex: 0 0 75%;
   flex: 0 0 75%;
}

.featured-wrap .right {
   margin: 15vh 6.5% 0 1.5%;
}

.featured-flex[data-sr-id='1'] > .left {
   margin-top: -5vh;
}

.featured-flex[data-sr-id='1'] > .right {
   margin-top: 0;
}

.featured-flex[data-sr-id='1'] > .center {
   margin-top: 20vh;
}

.featured-image {
   background: no-repeat center center;
   background-size: cover;
}

.featured-home-image {
   height: 630px;
}

.bg-medium {
   margin: 0 3%;
   padding-bottom: 12vh;
}

.bg-bottom {
   position: absolute;
   z-index: -1;
   right: 0;
   bottom: -190px;
   left: 0;
   height: 380px;
}

.featured-post {
   padding: 0 60px;
}

.featured-post h2 {
    font-size: 35px;
   line-height: 1.3;
   margin: 0;
   padding: 0 0 30px;
}

.featured-post .item-excerpt {
   font-size: 14px;
   padding: 0 0 20px;
}

.featured-more-button {
   font-size: 14px;
   font-weight: bold;
   line-height: normal;
   width: auto;
   min-height: 40px;
   margin: 0;
   padding: 17px 50px;
   letter-spacing: 1px;
   border: 2px solid;
   border-radius: 50px;
   outline: none;
}

.featured-more-button:hover {
   border: 2px solid;
}

/* RWD — Featured
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width:479px) {
   .featured-wrap .left {
      margin: 4vh auto;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 92%;
      flex: 0 0 92%;
   }

   .featured-wrap .right {
      margin: 0 auto;
      text-align: center;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 90%;
      flex: 0 0 90%;
   }

   .featured-wrap .center {
      margin: 4vh auto 0;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 90%;
      flex: 0 0 90%;
   }

   .featured-flex[data-sr-id='1'] > .center {
      margin-top: 5vh;
   }

   .bg-medium {
      padding-bottom: 10vh;
   }

   .bg-bottom {
      bottom: -75px;
      height: 250px;
   }

   .featured-wrap {
      margin-bottom: 15vh;
   }

   .featured-home-image {
      height: 50vh;
   }

   .featured-post {
      padding: 10px 20px 4vh;
   }

   .featured-post h2 {
      font-size: 30px;
      padding: 0 0 10px;
   }

}

@media (min-width:480px) and (max-width:1199px) {
   .featured-wrap .left {
      margin: 5vh auto;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 92%;
      flex: 0 0 92%;
   }

   .featured-wrap .right {
      margin: 0 auto;
      text-align: center;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
   }

   .featured-wrap .center {
      margin: 5vh auto 0;
   }

   .featured-flex[data-sr-id='1'] > .center {
      margin-top: 10vh;
   }

   .bg-medium {
      padding-bottom: 5vh;
   }

   .bg-bottom {
      bottom: -150px;
      height: 300px;
   }

   .featured-wrap {
      margin-bottom: 20vh;
   }

   .featured-home-image {
      height: 430px;
   }

   .featured-post {
      padding: 10px 30px 5vh;
   }

   .featured-post h2 {
      font-size: 35px;
      padding: 0 0 20px;
   }

}

/* --------------------------------------------------------------------------
   9.Vertical Text
   -------------------------------------------------------------------------- */
.vertical,.vertical-reads,.vertical-insight,.vertical-learning{
   position: absolute;
   z-index: 1;
   left: 50%;
   width: 2px;
   height: 220px;
   cursor: default;
}

.text {
   font-size: 24px;
   position: absolute;
   width: 250px;
   text-align: right;
}

.text-posts {
   z-index: 5;
   bottom: -170px;
}

.is-featured.text-posts {
   z-index: 5;
   bottom: -300px;
}

.text-featured {
   top: -90px;
}

.text-newsletter {
   top: -150px;
   height: 190px;
   -webkit-transform: rotate(180deg);
   transform: rotate(180deg);
}

.text-featured .text,
.text-posts .text {
   bottom: 80px;
}

.text-newsletter .text {
   top: 25px;
   text-align: left;
}

.text-newsletter .rotate {
   -webkit-transform: translateX(-57.2%) translateY(100%) rotate(-90deg);
   transform: translateX(-57.2%) translateY(100%) rotate(-90deg);
}

.rotate {
   -webkit-transform: translateX(-42%) translateY(0%) rotate(90deg);
   transform: translateX(-42%) translateY(0%) rotate(90deg);
}

/* RWD — Vertical Text
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width:1199px) {
   .text-featured {
      display: none;
   }

}

@media (max-width:479px) {
   .text-posts {
      display: none;
   }

}

@media (min-width:480px) and (max-width:767px) {
   .text-posts {
      bottom: -70px;
   }

   .is-featured.text-posts {
      bottom: -210px;
   }

   .vertical.text-posts {
      height: 120px;
   }

   .text-posts .text {
      display: none;
   }

}

/* --------------------------------------------------------------------------
   10.Masonry
   -------------------------------------------------------------------------- */
.masonry-wrap {
   position: relative;
   z-index: 5;
   width: auto;
   max-width: 1100px;
   margin: 5vh auto;
}

.masonry .item {
   width: 50%;
}

.masonry .item-title {
   width: 83%;
   margin: 10px 0 0 20px;
}

.masonry .item-title h2 {
   font-size: 25px;
   margin: 0 0 3vh 0;
}

.masonry .item-container {
   margin: 0 15% 13vh;
}

.masonry .item-container.first {
   margin-top: -12vh;
}

.home-template .item-container.first.no-image {
   margin-top: 0;
}

.masonry .item-container .item-container-img {
   overflow: hidden;
   margin: 0 0 5vh;
}

.masonry .item-container img {
   width: 100%;
}

.masonry .item-container .item-container-img:hover {
   -webkit-transform: scale(.96);
   transform: scale(.96);
}

.masonry .item-container .item-container-img img:hover {
   -webkit-transform: scale(1.10);
   transform: scale(1.10);
}

.masonry .item-excerpt {
   font-size: 14px;
   line-height: 1.7;
}

/* RWD — Masonry
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width:479px) {
   .masonry .item {
      width: 100%;
      text-align: center;
   }

   .masonry .item-title {
      line-height: 1.4;
      width: 100%;
      margin: 10px 0 0;
   }

   .masonry .item-container {
      margin: 0 10% 5vh;
   }

   .masonry .item-container.first {
      margin-top: 0;
   }

   .home-template .item-container.first.no-image {
      margin-top: 70px;
   }

}

@media (min-width:480px) and (max-width:767px) {
   .masonry .item-excerpt {
      font-size: 13px;
   }

}

@media (min-width:480px) and (max-width:1023px) {
   .masonry .item-title {
      width: 90%;
      margin: 10px 0 0 10px;
   }

   .masonry .item-title h2 {
      font-size: 24px;
      margin: 0;
   }

   .masonry .item-container {
      margin: 0 12% 8vh;
   }

   .masonry .item-container.first {
      margin-top: -10vh;
   }

   .masonry .item-container .item-container-img {
      margin: 0 0 3vh;
   }

}

@media (min-width:1024px) and (max-width:1119px) {
   .masonry-wrap {
      margin: 5vh 45px;
   }

}

/* --------------------------------------------------------------------------
   11.Post
   -------------------------------------------------------------------------- */

/* Author Meta
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
.item-meta {
   font-size: 13px;
   line-height: 1.5;
   margin: 1vh 0 0;
}

.item-meta-1 {
   font-size: 13px;
   line-height: 2;
   margin: 1vh 0 0;
}

.post-wrap .item-meta {
   max-width: 300px;
   margin: 1vh auto 0;
}

.post-wrap .item-meta a {
   opacity: .9;
}

.post-wrap .item-meta a:hover {
   color: #fff;
}

.item-meta.author-name a {
   font-weight: bold;
}

.author-wrap {
   position: relative;
   max-width: 700px;
   margin: 0 auto;
   padding: 0;
   text-align: center;
}

.author-image-top {
   width: 150px;
   height: 150px;
   margin: 0 auto 20px;
   border-radius: 100%;
   background: no-repeat center center;
   background-size: cover;
}

.author-social {
   margin: -10px 0 10px;
}

.author-social a {
   font-size: 21px;
   margin: 10px 15px 0;
}

.author-social a:hover {
   color: #fff;
}

.author-social a i.link {
   font-size: 19px;
}

.is-cover .author-social a {
   color: #fff;
}

.is-cover .author-social a:hover {
   opacity: .5;
}

/* Post General
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
.featured-post-image{
   position: relative;
   overflow: hidden;
   width: auto;
   height: 450px;
   margin: -150px 3% 40px;
   -webkit-animation: slide-top .5s cubic-bezier(.250, .460, .450, .940) both;
   animation: slide-top .5s cubic-bezier(.250, .460, .450, .940) both;
   background: no-repeat center center;
   background-size: cover
}

.featured-post-image-2{
   position: relative;
   overflow: hidden;
   margin: -150px 3% 40px;
   -webkit-animation: slide-top .5s cubic-bezier(.250, .460, .450, .940) both;
   animation: slide-top .5s cubic-bezier(.250, .460, .450, .940) both;
}


.post-main-image{ 
    width: auto;
    height: 80%;
     display: block;
margin-left: auto;
  margin-right: auto;
    margin-top: 50px;}
    
.post-content{
   width: 700px;
   margin: 0 auto;
   padding: 15px 0;
}

.page-template .post-content {
   padding: 15px 0 70px;
}

.post-content p {
   line-height: 1.8;
   position: relative;
}

.post-content .footnotes p,
.post-content .footnotes li {
   font-size: 14px;
   line-height: 1.4;
   margin-bottom: 10px;
}

.post-content .footnotes {
   padding: 20px 0;
}

.post-content .footnotes ol {
   list-style: decimal;
}

.post-content .footnotes ol {
   padding-left: 20px;
}

.post-content .footnotes-sep {
   width: 100px;
   margin: 50px 0 10px;
}

.post-content a,
.tags a {
   border-bottom: 1px solid #e7e7df;
}

.post-content p img {
   width: 110%;
   margin: 4vh 0 5vh -5%;
}

.post-content p img ~ small {
   font-size: 12px;
   line-height: 1.3;
   position: absolute;
   display: block;
   width: 100%;
   margin: -3.5vh 0 4vh;
   color: #aeb5be;
}

.post-wrap .bg-top,.post-wrap .bg-reads, .post-wrap .bg-learning,.post-wrap .bg-insight{
   z-index: 0;
}

.title.image,
.post-template .item-meta {
   padding: 0 0 75px 0;
   text-align: center;
}

.no-image .item-meta {
   padding: 0;
}

.post-wrap {
   font-size: 17px;
   overflow: visible;
   width: auto;
   margin: 0;
}

.post-meta {
   font-size: 14px;
   position: relative;
   width: 100%;
   padding: 0;
   letter-spacing: 1px;
}

.tags {
   width: 80%;
}

/* hr
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
   width: 100%;
   height: 2px;
   margin: 40px 0 25px;
   border: none;
   background: #f7f7ef;
}

/* Share
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
.post-share {
   width: 250px;
   margin: 100px auto;
   padding: 12px 10px 10px;
   text-align: center;
   border: 2px solid #f7f7ef;
   border-radius: 50px;
}

.post-share a {
   font-size: 17px;
   padding: 11px 20px 11px 25px;
   color: #161b3d;
   border: none;
}

.post-share input {
   position: absolute;
   bottom: 77px;
   display: block;
   cursor: default !important;
   opacity: 0;
   color: transparent;
   border: none;
   outline: none;
   background: transparent;
}

.post-share .copy-link:not(:active) ~ .copied {
   -webkit-transition: opacity 10s step-end;
   transition: opacity 10s step-end;
}

.post-share .copy-link:active ~ .copied {
   opacity: 1;
}

.post-share .copied {
   font-size: 12px;
   position: absolute;
   bottom: 65px;
   left: calc(50% - 125px);
   width: 250px;
   text-align: center;
   opacity: 0;
}

.post-share .copy-link {
   cursor: pointer;
}

.post-share .copy-link svg {
   width: 19px;
}

/* Blockquote
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
blockquote{
    text-align: center;
   font-size: 19px;
   font-style: italic;
    font-weight: bold;
   position: relative;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   width: 120%;
   margin: 6vh -10%;
   padding: 30px 45px;
   background-color: #fff;
}


blockquote:before {
   position: absolute;
   z-index: -1;
   top: -2px;
   right: -2px;
   bottom: -2px;
   left: -2px;
   content: '';
}

blockquote p {
   font-style: italic;
   margin: 0;
}

blockquote small {
   font-size: .9em;
   display: inline-block;
   margin: .8em 0 .8em 1.5em;
   color: #ccc;
}

iframe {
   display: block;
   margin: 0 auto;
}

/* Koenig Images and Gallery
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
.kg-image-card,
.kg-gallery-card,
.kg-embed-card {
   margin: 50px 0;
}

.kg-image-card img,
.kg-gallery-card img {
   width: 100%;
}

.kg-image-card figcaption,
.kg-embed-card figcaption,
.kg-gallery-card figcaption {
   font-size: 12px;
   line-height: 1.3;
   display: block;
   width: 100%;
   margin-top: 5px;
   color: #aeb5be;
}

.kg-embed-card .js-reframe {
   margin-bottom: 0;
}

.kg-gallery-card .kg-gallery-container {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   flex-direction: column;
   margin: 15px auto;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
}

.kg-gallery-card .kg-gallery-row {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   flex-direction: row;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.kg-gallery-card .kg-gallery-image img {
   display: block;
   width: 100%;
   height: 100%;
   margin: 0;
}

.kg-gallery-card .kg-gallery-row:not(:first-of-type) {
   margin: 15px 0 0 0;
}

.kg-gallery-card .kg-gallery-image:not(:first-of-type) {
   margin: 0 0 0 15px;
}

/* Bookmarks
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
.kg-bookmark-card {
   margin: 30px 0;
}

.kg-bookmark-card .kg-bookmark-container {
   position: relative;
   overflow: hidden;
   min-height: 140px;
   -webkit-transition: background-color .15s ease-in-out;
   transition: background-color .15s ease-in-out;
   text-decoration: none;
   border: none;
   background-color: #f8f8f8;
   background-image: none;
}

.kg-bookmark-container:hover {
   background-color: transparent;
}

.kg-bookmark-card .kg-bookmark-container::before {
   position: absolute;
   z-index: -1;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   content: '';
}

.kg-bookmark-container,
.kg-bookmark-content,
.kg-bookmark-metadata {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.kg-bookmark-title,
.kg-bookmark-metadata {
   font-weight: 700;
}

/* Content */
.kg-bookmark-content {
   flex-direction: column;
   padding: 20px;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   -webkit-box-flex: 1;
   -ms-flex-positive: 1;
   flex-grow: 1;
   -webkit-box-align: start;
   -ms-flex-align: start;
   align-items: flex-start;
   -webkit-box-pack: start;
   -ms-flex-pack: start;
   justify-content: start;
}

/* Title */
.kg-bookmark-title {
   font-size: 18px;
   line-height: 1.3;
}

/* Description */
.kg-bookmark-description {
   font-size: 15px;
   line-height: 1.3;
   display: -webkit-box;
   overflow-y: hidden;
   max-height: 40px;
   margin-top: 12px;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
}

/* Meta */
.kg-bookmark-metadata {
   font-size: 14px;
   height: 22px;
   margin-top: 18px;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
}

.kg-bookmark-metadata .kg-bookmark-icon {
   width: 22px;
   height: 22px;
   margin-right: 8px;
}

.kg-bookmark-author,
.kg-bookmark-publisher {
   height: 26px;
}

.kg-bookmark-publisher {
   overflow: hidden;
   max-width: 240px;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.kg-bookmark-author:after {
   margin-right: 6px;
   margin-left: 6px;
   content: '•';
}

/* Image */
.kg-bookmark-thumbnail {
   position: relative;
   min-width: 30%;
   max-height: 100%;
}

.kg-bookmark-thumbnail img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   -o-object-fit: cover;
   object-fit: cover;
}

/* figcaption */
.kg-bookmark-card figcaption {
   font-size: 12px;
   line-height: 1.3;
   display: block;
   width: 100%;
   margin-top: 10px;
   color: #aeb5be;
}

/* RWD — Post
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width:479px) {
   .post-wrap {
      font-size: 15px;
   }

   .featured-post-image {
      height: 50vh;
      margin: -110px 3% 20px;
   }

   .post-content {
      width: 90%;
      margin: 0 5%;
   }

   .post-content p img {
      width: 100%;
      margin: 4vh 0;
   }

   blockquote {
      width: 100%;
      margin: 0;
      padding: 5px 15px 15px 0;
      border: none;
   }

   blockquote:before {
      display: none;
   }

   .post-share {
      margin: 50px auto;
   }

   .kg-bookmark-container {
      flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
   }

   .kg-bookmark-content {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
   }

   .kg-bookmark-publisher {
      max-width: 140px;
   }

   .kg-bookmark-thumbnail {
      width: 100%;
      min-height: 160px;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
   }

}

@media (min-width:480px) and (max-width:1024px) {
   .post-wrap {
      font-size: 16px;
   }

   .featured-post-image {
      height: 430px;
      margin: -150px 3% 20px;
   }

   .post-content {
      width: 80%;
      margin: 0 10%;
   }

   .post-share {
      margin: 80px auto;
   }

}

/* RWD — Koenig Images
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width:767px) {
   .kg-image-card,
   .kg-gallery-card,
   .kg-embed-card {
      margin: 35px 0;
   }

}

@media (min-width:768px) {
   .kg-image-card.kg-width-full img,
   .kg-image-card.kg-width-full figcaption {
      position: relative;
      right: 50%;
      left: 50%;
      width: calc(100vw - 55px - 55px - 20px);
      margin-right: calc(-50vw + 55px + 10px);
      margin-left: calc(-50vw + 55px + 10px);
   }

}

@media (min-width:768px) and (max-width:1023px) {
   .kg-image-card.kg-width-wide img,
   .kg-gallery-card .kg-gallery-container {
      width: 110%;
      margin-left: -5%;
   }

}

@media (min-width:1024px) and (max-width:1299px) {
   .kg-image-card.kg-width-wide img,
   .kg-gallery-card .kg-gallery-container {
      width: calc(1000px - 85px - 85px);
   }

   .kg-image-card.kg-width-wide img,
   .kg-image-card.kg-width-wide figcaption,
   .kg-gallery-card .kg-gallery-container,
   .kg-gallery-card figcaption {
      margin-left: calc((700px - 1000px) / 2 + 85px);
   }

   .kg-image-card.kg-width-wide figcaption,
   .kg-gallery-card figcaption {
      width: 780px;
   }

}

@media (min-width:1300px) {
   .kg-image-card.kg-width-wide img,
   .kg-gallery-card .kg-gallery-container {
      width: calc(1100px - 85px - 85px);
   }

   .kg-image-card.kg-width-wide img,
   .kg-image-card.kg-width-wide figcaption,
   .kg-gallery-card .kg-gallery-container,
   .kg-gallery-card figcaption {
      margin-left: calc((700px - 1100px) / 2 + 85px);
   }

   .kg-image-card.kg-width-wide figcaption,
   .kg-gallery-card figcaption {
      width: 800px;
   }

}
/* --------------------------------------------------------------------------
   12.Tags Page
   -------------------------------------------------------------------------- */
.page-tags-header.bg-top {
   padding: 80px 0 210px;
}

.page-tags-wrap {
   position: relative;
   z-index: 99;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   max-width: calc(100% + 30px);
   margin: -200px auto 16vh;
   padding: 0 8%;
   -webkit-animation: slide-top .5s cubic-bezier(.250, .460, .450, .940) both;
   animation: slide-top .5s cubic-bezier(.250, .460, .450, .940) both;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
}

.page-tag-wrap {
   position: relative;
   z-index: 99;
   overflow: hidden;
   margin: 15px;
   padding: 10px;
   -webkit-transition: all .2s ease;
   transition: all .2s ease;
   -webkit-box-flex: 1;
   -ms-flex: 1 auto;
   flex: 1 auto;
}

.page-tag-wrap.no-image {
   background-color: #f6f6f6;
}

.page-tag-wrap.is-image a,
.page-tag-wrap.is-image p {
   color: #fff;
}

.page-tags-title {
   width: 100%;
}

.page-tags-margin {
   display: block;
   width: 100%;
   margin: 0;
   padding: 0;
}

.page-tag-wrap h2 {
   margin: 0;
   padding: 15px 30px;
}

.page-tag-wrap.top {
   min-height: 160px;
}

.page-tag-wrap.top h2 {
   font-size: 30px;
}
page-tags-header
.page-tag-wrap.other {
   min-height: 30px;
}

.page-tag-wrap.other h2 {
   font-size: 20px;
   text-align: center;
}

.page-tag-wrap p {
   font-size: 16px;
   line-height: 1.5;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   max-width: 450px;
   margin: 0;
   padding: 0 60px 3vh 30px;
}

/* Images
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-tag-image {
   position: absolute;
   z-index: -1;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: no-repeat center center;
   background-size: cover;
}

.page-tag-image::before {
   display: block;
   width: 100%;
   height: 100%;
   content: '';
   opacity: .4;
   background-color: #394245;
   background-image: linear-gradient(234deg, #394245 0%, #000 100%);
}

/* RWD — Tags Page
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width:479px) {
   .page-tags-header.bg-top {
      padding: 30px 0 100px;
   }

   .page-tags-wrap {
      max-width: 100%;
      margin: -130px auto 10vh;
      padding: 0 10px;
   }

   .page-tag-wrap {
      margin: 15px 7.5px 0;
   }

   .page-tag-wrap h2,
   .page-tag-wrap p {
      text-align: center;
   }

   .page-tag-wrap p {
      font-size: 14px;
      padding: 0 10px 3vh;
   }

}

@media (min-width:480px) and (max-width:1199px) {
   .page-tags-header.bg-top {
      padding: 50px 0 140px;
   }

   .page-tags-wrap {
      max-width: 100%;
      margin: -170px auto 10vh;
      padding: 0 10px;
   }

}

/* --------------------------------------------------------------------------
   13.Disqus
   -------------------------------------------------------------------------- */
#disqus_thread {
   width: 700px;
   margin: 0 auto;
   padding: 100px 0 0;
}

/* RWD — Disqus
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width:479px) {
   #disqus_thread {
      width: 90%;
      margin: 0 5%;
      padding: 50px 0 0;
   }

}

@media (min-width:480px) and (max-width:1024px) {
   #disqus_thread {
      width: 80%;
      margin: 0 10%;
      padding: 80px 0 0;
   }

}

/* --------------------------------------------------------------------------
   14.Prev/Next
   -------------------------------------------------------------------------- */
.prev-next {
   width: 600px;
   margin: 0 auto;
}

.prev-next span {
   font-size: 13px;
   font-weight: bold;
   display: block;
   letter-spacing: 1.5px;
   text-transform: uppercase;
   color: #e9e9e2;
}

.next-text h3,
.prev-text h3 {
   display: inline;
}

.prev-text {
   padding: 30px 30% 30px 15px;
}

.next-text {
   padding: 30px 15px 30px 30%;
   text-align: right;
}

.prev-next.no-subscribe {
   margin: 0 auto 80px;
}

.prev-next-hr {
   height: 2px;
}

.first .prev-next-hr {
   margin: 40px 0 0;
}

.last .prev-next-hr {
   margin: 0 0 100px;
}

/* RWD — Prev/Next
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width:767px) {
   .prev-next {
      width: 90%;
      margin: 0 5%;
   }

   .next-text h3,
   .prev-text h3 {
      font-size: 22px;
   }

   .prev-text,
   .next-text {
      padding: 30px 15px;
      text-align: center;
   }

   .first .prev-next-hr,
   .last .prev-next-hr {
      display: none;
   }

   .prev-next.no-subscribe {
      margin: 0 auto 50px;
   }

}

@media (min-width:768px) and (max-width:1200px) {
   .prev-next {
      width: 60%;
      margin: 0 20%;
   }

   .prev-text {
      padding: 30px 15% 30px 15px;
   }

   .next-text {
      padding: 30px 15px 30px 15%;
      text-align: right;
   }

   .prev-next.no-subscribe {
      margin: 0 auto 80px;
   }

}

/* --------------------------------------------------------------------------
   15.Pagination
   -------------------------------------------------------------------------- */
.pagination-wrap {
   height: 150px;
   margin: 0;
   text-align: center;
}

.pagination-wrap i {
   font-size: 24px;
   width: 20px;
   height: 20px;
   margin: 0 10px;
   padding: 20px;
   text-decoration: none;
   letter-spacing: 2px;
   border: 2px solid #f7f7ef;
   border-radius: 50px;
}

/* RWD — Pagination
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width:1023px) {
   .pagination-wrap {
      height: 100px;
      margin: 50px 0 0;
   }

}

/* --------------------------------------------------------------------------
   16.Newsletter
   -------------------------------------------------------------------------- */
.subscribe-wrap {
   position: relative;
   margin: 200px 0 10px;
}

.post-template .subscribe-wrap {
   border-top: 130px solid transparent;
}

.subscribe,.subscribe-reads,.subscribe-insight,.subscribe-learning{
   padding: 8vh 20px 1vh;
   text-align: center;
}

.text-subscribe {
   font-size: 25px;
   font-weight: normal;
   max-width: 600px;
   margin: 5px auto 15px;
   padding: 10px 0;
   letter-spacing: 1.9px;
}

.subscribe-form.invalid ~ .subscribe-alert-invalid,
.subscribe-form.loading ~ .subscribe-alert-loading,
.subscribe-form.error ~ .subscribe-alert-error {
   font-size: 10px;
   font-weight: bold;
   position: relative;
   display: block;
   width: 100%;
   margin: 10px auto 0;
   padding: 10px 0;
   letter-spacing: 1.5px;
   text-transform: uppercase;
}

/* Sucess info
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
.subscribe-form.success,
.subscribe-form ~ .subscribe-success {
   display: none;
}

.subscribe-success h3 {
   font-size: 24px;
   font-weight: bold;
}

.subscribe-form.success ~ .subscribe-success {
   display: inline-block;
}

/* RWD — Newsletter
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width:767px) {
   .subscribe .subscribe-email {
      width: 70%;
   }

   .subscribe-wrap {
      margin: 180px 0 0;
   }

   .post-template .subscribe-wrap {
      margin: 120px 0 0;
   }

}

/* --------------------------------------------------------------------------
   17.Members
   -------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------
   18.Footer
   -------------------------------------------------------------------------- */
.footer-wrap {
   line-height: normal;
   width: 100%;
   text-align: center;
}

.footer-social {
   display: inline-block;
   margin: 0;
   padding: 0;
}

.footer-social a {
   font-size: 21px;
   margin: 0 15px;
    color: #fff;
}

.footer-copyright {
   font-size: 12px;
   line-height: 1.8;
   max-width: 450px;
   margin: 35px auto 0;
   letter-spacing: 1px;
}

.footer-copyright a:hover{
    color: #fff
}

/* RWD — Footer
   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width:479px) {
   .footer-wrap {
      width: 80%;
      margin: 30px 10% 15px;
      padding: 0 0 15px;
   }

}

/* --------------------------------------------------------------------------
   19.Animation
   -------------------------------------------------------------------------- */
input,
button,
a,
.post-share .copy-link svg,
.featured-more-button {
   -webkit-transition: all .2s;
   transition: all .2s;
}

.btn,
.older-posts .fa,
.newer-posts .fa,
.masonry .item-container .item-container-img,
.masonry .item-container .item-container-img img,
.top-wrap .left,
.top-wrap .appear {
   -webkit-transition: -webkit-transform .25s ease-in-out;
   transition: -webkit-transform .25s ease-in-out;
   transition: transform .25s ease-in-out;
   transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
}

.featured-media img {
   -webkit-transition: -webkit-transform 1s;
   transition: -webkit-transform 1s;
   transition: transform 1s;
   transition: transform 1s, -webkit-transform 1s;
}

@-webkit-keyframes slide-top {
   0% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
   }

   100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
   }

}

@keyframes slide-top {
   0% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
   }

   100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
   }

}